<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ajlyfe.thegiffingtree">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GenuineGif" />
        <activity android:name=".CasualInsultMale" />
        <activity android:name=".CasualInsultFemale" />
        <activity android:name=".CongratsSarcastic" />
        <activity android:name=".EmbarrassedByFriend" />
        <activity android:name=".Fired" />
        <activity android:name=".FormerFriend" />
        <activity android:name=".GirlCode"></activity>
        <activity android:name=".GuyCodeGif" />
        <activity android:name=".EmbarassingFriendGif" />
        <activity android:name=".QuitGif" />
        <activity android:name=".LookingForJobGif" />
        <activity android:name=".NewProjectGif" />
        <activity android:name=".ConfessGif" />
        <activity android:name=".ScrewThemGif" />
        <activity android:name=".ProbationGif"></activity>
    </application>

</manifest>